## Datatype

In [ ]:
Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

## List

In [ ]:
1] Lists are used to store multiple items in a single variable.
2] List are enclose in [ ]
3] List are mutable / changeable datatype   >> update, delete 
4] List are ordered datatype
5] List are allows duplicate members

In [7]:
list1=[11,22,33,44,55]   # list datatype
type(list1)

list

In [12]:
list2=["*","english","science",222,22.4,3+4j]
type(list2)

list

In [9]:
list2=[101,  "Rohit",  "Sharma",  8,  "English"]
#      int    string     string  int    string
#      rollno  name     surname  std    subject
type(list2)

list

In [11]:
list3=[11,22,33,44,55,"student","rollno",(2,4,6),{2,3}]  # useing multiple datatype 
type(list3)

list

### Tuple

In [ ]:
1] Tuple are enclose in ( )
2] Tuples are used to store multiple items in a single variable.
3] Tuple are immutable datatype
4] Tuple are ordered datatype
5] Tuple are allows duplicate members

In [ ]:
Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

Allow Duplicates
Since tuples are indexed, they can have items with the same value:

In [16]:
tuple_1=(11,22,33,44,55)
type(tuple_1)

tuple

In [20]:
 tuple_1=(11,22,"33",[44],(55))
type(tuple_1)

tuple

## Set

In [ ]:
1] Set enclose in { }
2] Unordered means that the items in a set do not have a defined order.
3] Unchangeable/immutable
   Set items are unchangeable, meaning that we cannot change the items after the set has been created.
   Once a set is created, you cannot change its items, but you can remove items and add new items.
4] Duplicates Not Allowed
   Sets cannot have two items with the same value.

In [21]:
thisset = {"apple", "banana", "cherry", "apple"}
thisset

{'apple', 'banana', 'cherry'}

In [25]:
thisset1 = {"apple", "banana", "cherry", True, 1, 2}

print(thisset1)

{'cherry', 2, True, 'banana', 'apple'}

## Dictionary

In [ ]:
1] Dictionary are enclose in { } , containing keys and value pair
2] Dictionary items are ordered
3] Dictionary are immutable datatype
4] Dictionary does not allow duplicates element
5] Dictionary items are presented in key:value pairs

In [28]:
thisdict = {"english": "80",
            "marathi": "60",
            "chemistry":"50"}
print(thisdict)
type(thisdict)

{'english': '80', 'marathi': '60', 'chemistry': '50'}

dict

In [33]:
thisdict = {"english": 88,
            "marathi": 99,
            "chemistry":50}
print(thisdict)
type(thisdict)

{'english': 88, 'marathi': 99, 'chemistry': 50}

dict